<div  class="app">
    <div class="flex">
        <app-sidemenu></app-sidemenu>
        <div class="mt-5">
            <div class="intro-x">
                <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                        <img alt="Midone Tailwind HTML Admin Template" src="assets/images/profile-14.jpg">
                    </div>
                    <div class="ml-4 mr-auto">
                        <div class="font-medium">Leonardo DiCaprio</div>
                        <div class="text-gray-600 text-xs">6 August 2022</div>
                    </div>
                    <div class="text-theme-9">+$23</div>
                </div>
            </div>
            <div class="intro-x">
                <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                        <img alt="Midone Tailwind HTML Admin Template" src="assets/images/profile-10.jpg">
                    </div>
                    <div class="ml-4 mr-auto">
                        <div class="font-medium">Tom Cruise</div>
                        <div class="text-gray-600 text-xs">21 July 2020</div>
                    </div>
                    <div class="text-theme-9">+$83</div>
                </div>
            </div>
            <div class="intro-x">
                <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                        <img alt="Midone Tailwind HTML Admin Template" src="assets/images/profile-12.jpg">
                    </div>
                    <div class="ml-4 mr-auto">
                        <div class="font-medium">Al Pacino</div>
                        <div class="text-gray-600 text-xs">5 January 2021</div>
                    </div>
                    <div class="text-theme-9">+$199</div>
                </div>
            </div>
            <div class="intro-x">
                <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                        <img alt="Midone Tailwind HTML Admin Template" src="assets/images/profile-6.jpg">
                    </div>
                    <div class="ml-4 mr-auto">
                        <div class="font-medium">Russell Crowe</div>
                        <div class="text-gray-600 text-xs">22 April 2020</div>
                    </div>
                    <div class="text-theme-9">+$43</div>
                </div>
            </div>
            <div class="intro-x">
                <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                        <img alt="Midone Tailwind HTML Admin Template" src="assets/images/profile-15.jpg">
                    </div>
                    <div class="ml-4 mr-auto">
                        <div class="font-medium">Al Pacino</div>
                        <div class="text-gray-600 text-xs">8 October 2022</div>
                    </div>
                    <div class="text-theme-9">+$112</div>
                </div>
            </div>
            <a href="" class="intro-x w-full block text-center rounded-md py-3 border border-dotted border-theme-15 text-theme-16">View More</a> 
        </div>
    </div>
</div>
